{
    "swagger": "2.0",
    "info": {
        "description": "App Api is used for all app related trasactions",
        "version": "1.0",
        "title": "App API",
        "termsOfService": "http://uda.io",
        "contact": {
            "name": "appcenter"
        },
        "license": {
            "name": "Git Hub",
            "url": "https://github.td.teradata.com/appcenter/app-service"
        }
    },
    "host": "appcenter-app-services-int.ac.uda.io:443",
    "basePath": "/",
    "tags": [
        {
            "name": "app-controller",
            "description": "App Controller"
        }
    ],
    "paths": {
        "/apps": {
            "get": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Get all Apps",
                "description": "List all Apps",
                "operationId": "allAppsUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "username",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "privileges",
                        "in": "query",
                        "description": "privileges",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "READ",
                                "WRITE",
                                "EXECUTE",
                                "GRANT"
                            ]
                        },
                        "collectionFormat": "multi",
                        "enum": [
                            "READ",
                            "WRITE",
                            "EXECUTE",
                            "GRANT"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returned list of apps",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/App"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            },
            "post": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Add an App",
                "description": "Add a new App",
                "operationId": "saveUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "app",
                        "description": "app",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    "201": {
                        "description": "Successfully created an app",
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/apps/{app_id}": {
            "get": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Get an App by id",
                "description": "Get a particular App",
                "operationId": "getAppByIdUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returned an app",
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            },
            "delete": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Delete an App",
                "description": "Delete an existing App",
                "operationId": "deleteAppByIdUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "Successfully removed an app"
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            },
            "patch": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Update an App",
                "description": "Update an existing app",
                "operationId": "updateUsingPATCH",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "app",
                        "description": "app",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated an App",
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/apps/{app_id}/container": {
            "post": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Upload a sql file",
                "description": "Upload a sql file",
                "operationId": "uploadFileUsingPOST",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    "201": {
                        "description": "Successfully created a container",
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/apps/{app_id}/jobs": {
            "get": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Status of all Jobs of an App",
                "description": "Gives status of all the Jobs of an App",
                "operationId": "getJobsForAppUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returned status of an App Job",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Job"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            },
            "post": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Start an app Job",
                "description": "Start a new App run. Need to specify system_name, username and password to run a job.",
                "operationId": "startJobUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "job",
                        "description": "job",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    },
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "force",
                        "in": "query",
                        "description": "force",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully started app",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/apps/{app_id}/jobs/{job_id}": {
            "get": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Status of a particular App Job",
                "description": "Gives status of an App Job based on id",
                "operationId": "getJobsForAppByIdUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "job_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returned status of an App Job",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            },
            "delete": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Stop an App Job",
                "description": "Stop an App Job",
                "operationId": "stopAppJobUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "job_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully stopped an App Job",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "405": {
                        "description": "Cannot stop an already completed job"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/apps/{app_id}/jobs/{job_id}/results/{result_id}": {
            "get": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Get a result",
                "description": "Get a result",
                "operationId": "getJobResultUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "job_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "result_id",
                        "in": "path",
                        "description": "result_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returned a result"
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/apps/{app_id}/privileges": {
            "get": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Return privileges for an App",
                "description": "Return all the privileges of all the Users for an App",
                "operationId": "getAppPrivlegesUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returned list of privileges for an App",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AppUserPrivilege"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/apps/{app_id}/privileges/{username}": {
            "get": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Return privileges for a User for an App",
                "description": "Return User's privileges for an App",
                "operationId": "getUserAppPrivlegesUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returned list of privileges of a User for an App",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "READ",
                                    "WRITE",
                                    "EXECUTE",
                                    "GRANT"
                                ]
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            },
            "post": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Add privilege for a User for an App",
                "description": "Give Read/Write/Execute privilege to a User for an App ",
                "operationId": "addAppPrivilegeUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "privileges",
                        "description": "List of privileges (READ, WRITE, EXECUTE)",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "READ",
                                    "WRITE",
                                    "EXECUTE",
                                    "GRANT"
                                ]
                            }
                        }
                    },
                    "201": {
                        "description": "Successfully added privilege for a user for an app",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "READ",
                                    "WRITE",
                                    "EXECUTE",
                                    "GRANT"
                                ]
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            },
            "delete": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Delete privilege of a User for an App",
                "description": "Remove Read/Write/Execute privilege from a User for an App ",
                "operationId": "removeAppPrivlegeUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "privileges",
                        "description": "List of privileges (READ, WRITE, EXECUTE)",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "Successfully removed privilege of a User for an App"
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/apps/{app_id}/versions/{version}": {
            "delete": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Delete Versions of App",
                "description": "Delete version of App",
                "operationId": "deleteAppVersionUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "path",
                        "description": "app_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "version",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "DELETE version of App"
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Data store not configured or unreachable"
                    }
                }
            }
        },
        "/jobs": {
            "get": {
                "tags": [
                    "app-controller"
                ],
                "summary": "Status of all the Apps jobs",
                "description": "Gives status of all the deployed Apps jobs",
                "operationId": "getRunningAppsUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returned status of all Apps",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Job"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have the necessary permissions for the resource"
                    },
                    "500": {
                        "description": "Marathon or Chronos unreachanble"
                    }
                }
            }
        }
    },
    "definitions": {
        "App": {
            "type": "object",
            "properties": {
                "app_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "app_type": {
                    "type": "string"
                },
                "config": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/ConfigElement"
                    }
                },
                "cpus": {
                    "type": "number",
                    "format": "double"
                },
                "description": {
                    "type": "string"
                },
                "dockerImageName": {
                    "type": "string"
                },
                "icon": {
                    "type": "string"
                },
                "install_time": {
                    "type": "string"
                },
                "installed_by": {
                    "type": "string"
                },
                "last_updated_by": {
                    "type": "string"
                },
                "last_updated_time": {
                    "type": "string"
                },
                "memory": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                },
                "results_config": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Map«string,object»"
                    }
                },
                "versions": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "MultipartFile": {
            "type": "object"
        },
        "ConfigElement": {
            "type": "object",
            "properties": {
                "default": {
                    "type": "object"
                },
                "max": {
                    "type": "object"
                },
                "min": {
                    "type": "object"
                },
                "required": {
                    "type": "boolean"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "Map«string,object»": {
            "type": "object",
            "additionalProperties": {
                "type": "object"
            }
        },
        "Job": {
            "type": "object",
            "properties": {
                "app_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "config": {
                    "type": "object"
                },
                "end_time": {
                    "type": "string"
                },
                "job_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "job_status": {
                    "type": "string",
                    "enum": [
                        "staged",
                        "waiting",
                        "running",
                        "killed",
                        "failed",
                        "success",
                        "not found"
                    ]
                },
                "owner": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "results": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Result"
                    }
                },
                "staged_time": {
                    "type": "string"
                },
                "system_name": {
                    "type": "string"
                },
                "tags": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "AppUserPrivilege": {
            "type": "object",
            "properties": {
                "app_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "privilege": {
                    "type": "string",
                    "enum": [
                        "READ",
                        "WRITE",
                        "EXECUTE",
                        "GRANT"
                    ]
                },
                "privilege_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "Result": {
            "type": "object",
            "properties": {
                "mime_type": {
                    "type": "string"
                },
                "result_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "url": {
                    "type": "string"
                }
            }
        }
    }
}